@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
body {
    overflow-x: hidden;
}

.menu {
    position: absolute;
    width: 100%;
    z-index: 999;
    font-family: 'Abel', sans-serif;
}

@media (max-width: 984px) {
    .navbar-collapse {
        right: 0;
        top: 70px;
        position: absolute;
        text-align: right;
    }
}

@media (max-width: 590px) {
    .nav-link {
        color: rgb(78, 190, 106) !important;
    }
}

@media (min-width: 590px) {
    .nav-link {
        color: whitesmoke !important;
    }
    
    .nav-link:hover {
        color: rgb(78, 190, 106) !important;
    }
}

.logo {
    color: whitesmoke !important;
    font-size: 25px;
    border-bottom: 3px solid whitesmoke;
    margin-left: 1em;
    margin-top: 1em;
}

.itens a {
    font-size: 20px;
    margin-right: 2em;
    margin-top: 1.2em;
    padding: 0;
}

.itens a:hover {
    text-decoration: none !important;
}

.itens1, .texto2 {
    filter: drop-shadow(1px 1px 1px rgb(78, 190, 106));
    padding-left: 15px;
    background: whitesmoke !important;
}

@media (max-width: 767px) {
    #texto2 {
        padding-top: 3em;
        margin-bottom: 3em;
    }

    .img-fluid {
        width: 300px;
    }
}

.dropdown-item {
    color: rgb(35, 46, 37) !important;
}

.dropdown-item:hover {
    text-decoration: none !important;
    background-color: transparent !important;
}

.drop-interno {
    margin-right: 17px !important;
    margin-top: 10px !important;
}

.titulo {
    font-family: 'Mr Dafoe', cursive;
    font-size: 5em;
    filter: drop-shadow(3px 3px 3px rgb(78, 190, 106));
    color: rgb(35, 46, 37);
    margin-top: -1em;
}

.nome-empresa {
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    margin-top: -26px;
    position: relative;
    font-weight: bold;
    letter-spacing: 5px;
}

.subtitulo {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.discover {
    padding-top: 9em;
    margin-bottom: 9em;
}

@media (max-width: 765px) {
    .discover {
        padding-top: 5em;
        margin-bottom: 5em;
    }
    .et-espaco {
        margin-top: 30px;
    }
}

.descubra {
    font-family: 'Mr Dafoe', cursive;
    font-size: 5em;
    filter: drop-shadow(3px 3px 3px rgb(78, 190, 106));
    color: rgb(35, 46, 37);
}

.descubra2 {
    font-family: 'Abel', sans-serif;
    font-size: 4em;
    padding-top: 9px;
    filter: drop-shadow(3px 3px 3px rgb(78, 190, 106));
    color: whitesmoke;
}

.story {
    font-family: 'Abel', sans-serif;
    font-size: 2em;
    position: relative;
    margin-top: -30px;
    text-align: center;
    letter-spacing: 2px;
}

.texto-story {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    margin-top: 45px;
    margin-right: 34px;
}

.botao {
    margin-top: 15px;
    right: 100%;
}

.banner {
    background-image: url("../img/bk_galaxia6.jpg");
    min-height: 100vh;
}

.banner .card {
    margin: 30px !important;
    opacity: 0.7;
}

.card:hover {
    opacity: 1;
}

.home-blog {
    background: rgb(35, 46, 37);
    filter: drop-shadow(3px 3px 3px rgb(78, 190, 106));
    border-radius: 50px 0 50px 50px;
    bottom: 20px;
    color: whitesmoke;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    left: -1px;
    padding: 10px 20px;
    position: absolute;
    z-index: 1;
}

@media (max-width: 1199px) {
    .home-blog {
        position: relative;
        bottom: 70px;
        left: -17px;
        padding: 6px 3px;
    }
}


@media (max-width: 991px) {
    .home-blog {
        position: relative;
        bottom: 60px;
        left: -17px;
        padding: 6px 3px;
    }
}

@media (max-width: 767px) {
    .home-blog {
        position: absolute;
        bottom: 20px;
        left: -1px;
        padding: 10px 20px;
    }
}

.home-blog1 {
    background: rgb(35, 46, 37);
    filter: drop-shadow(3px 3px 3px rgb(78, 190, 106));
    bottom: 20px;
    color: whitesmoke;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    margin-top: 20PX;
    left: -1px;
    padding: 10px 20px;
    z-index: 1;
}

.home-blog a {
    color: whitesmoke;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.home-blog a:hover {
    text-decoration: none;
    color: rgb(78, 190, 106);
}

.nosso-blog {
    margin-top: 9em;
    margin-bottom: 9em;
}

.nosso-blog img {
    filter: drop-shadow(3px 3px 3px rgb(78, 190, 106));
}

.rodape {
    background: rgb(35, 46, 37);
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    letter-spacing: 1mm;
}

.rodape p {
    margin-top: 15px;
}

.rodape a {
    color: rgb(78, 190, 106);
}

.rodape a:hover {
    text-decoration: none;
}

.rodape img {
    margin-top: -3px;
}